h1 {
    color: black;
}

body {
    background-image: url("assets/Radost.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-family: cursive;
    color: #FF7DB1;
    background-color: white;
    border: 3px solid #FF7DB1;
    border-radius: 50px;
    padding: 20px 20px;
}

button {
    font-family: cursive;
    font-size: 20px;
    margin: 0 15px;
    width: 100px;
    height: 50px;
}

.yesBTN {
    background-color: #FF7DB1;
    color: #ffffff;
}

.noBTN {
    background-color: #FF7DB1;
    color: #ffffff;
}